USE [master]
GO
/****** Object:  Database [FACTURACION_]    Script Date: 02/10/2019 16:26:13 ******/
CREATE DATABASE [FACTURACION_]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FACTURACION_', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\FACTURACION_.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FACTURACION__log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\FACTURACION__log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FACTURACION_].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FACTURACION_]
GO
USE [FACTURACION_]
GO
/****** Object:  Table [dbo].[BARRIO]    Script Date: 02/10/2019 16:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BARRIO](
	[BAR_CODIGO] [char](12) NOT NULL,
	[BAR_NOMBRE] [char](40) NOT NULL,
	[CIU_CODIGO] [char](6) NOT NULL,
 CONSTRAINT [PK_BARRIOID] PRIMARY KEY CLUSTERED 
(
	[BAR_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CIUDAD]    Script Date: 02/10/2019 16:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIUDAD](
	[CIU_CODIGO] [char](6) NOT NULL,
	[CIU_NOMBRE] [char](40) NOT NULL,
	[DEP_CODIGO] [char](6) NOT NULL,
 CONSTRAINT [PK_CUIDADID] PRIMARY KEY CLUSTERED 
(
	[CIU_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 02/10/2019 16:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[CLI_CODIGO] [char](10) NOT NULL,
	[CLI_IDENTIFICACION] [char](20) NOT NULL,
	[CLI_NOMBRE] [char](30) NOT NULL,
	[CLI_APELLIDO] [char](30) NOT NULL,
	[CLI_DIRECCION] [varchar](120) NOT NULL,
	[CLI_TELEFONO] [varchar](20) NOT NULL,
	[CLI_CELULAR] [varchar](20) NULL,
	[CLI_EMAIL] [varchar](120) NULL,
	[CLI_SEXO] [char](1) NOT NULL,
	[BAR_CODIGO] [char](12) NOT NULL,
	[TIP_CODIGO] [char](3) NOT NULL,
 CONSTRAINT [PK_CLIENTEID] PRIMARY KEY CLUSTERED 
(
	[CLI_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTAMENTO]    Script Date: 02/10/2019 16:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTAMENTO](
	[DEP_CODIGO] [char](6) NOT NULL,
	[DEP_NOMBRE] [char](40) NOT NULL,
	[PAI_CODIGO] [char](3) NOT NULL,
 CONSTRAINT [PK_DEPID] PRIMARY KEY CLUSTERED 
(
	[DEP_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURADETALLE]    Script Date: 02/10/2019 16:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURADETALLE](
	[FAC_NUMERO] [char](10) NOT NULL,
	[PRO_CODIGO] [char](10) NOT NULL,
	[FAC_CANTIDAD] [int] NOT NULL,
	[FAC_PRECIO] [decimal](18, 2) NOT NULL,
	[FAC_SUBTOTAL] [decimal](18, 2) NOT NULL,
	[FAC_DESCUENTO] [decimal](18, 2) NOT NULL,
	[FAC_IMPUESTO] [decimal](18, 2) NOT NULL,
	[FAC_TOTAL] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_FACDET] PRIMARY KEY CLUSTERED 
(
	[FAC_NUMERO] ASC,
	[PRO_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURAENCABEZADO]    Script Date: 02/10/2019 16:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURAENCABEZADO](
	[FAC_NUMERO] [char](10) NOT NULL,
	[FAC_FECHA] [datetime] NOT NULL,
	[VEN_CODIGO] [char](10) NOT NULL,
	[CLI_CODIGO] [char](10) NOT NULL,
	[FAC_SUBTOTAL] [decimal](18, 2) NOT NULL,
	[FAC_DESCUENTO] [decimal](18, 2) NOT NULL,
	[FAC_IMPUESTO] [decimal](18, 2) NOT NULL,
	[FAC_TOTAL] [decimal](18, 2) NOT NULL,
	[FOR_CODIGO] [char](3) NOT NULL,
 CONSTRAINT [PK_FACENCABEZADO] PRIMARY KEY CLUSTERED 
(
	[FAC_NUMERO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORMADEPAGO]    Script Date: 02/10/2019 16:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORMADEPAGO](
	[FOR_CODIGO] [char](3) NOT NULL,
	[FOR_NOMBRE] [char](30) NOT NULL,
 CONSTRAINT [PK_FDP] PRIMARY KEY CLUSTERED 
(
	[FOR_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCA]    Script Date: 02/10/2019 16:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCA](
	[MAR_CODIGO] [char](3) NOT NULL,
	[MAR_DESCRIPCION] [varchar](30) NOT NULL,
 CONSTRAINT [PK_TID] PRIMARY KEY CLUSTERED 
(
	[MAR_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAIS]    Script Date: 02/10/2019 16:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAIS](
	[PAI_CODIGO] [char](3) NOT NULL,
	[PAI_NOMBRE] [char](30) NOT NULL,
 CONSTRAINT [PK_PAISID] PRIMARY KEY CLUSTERED 
(
	[PAI_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 02/10/2019 16:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[PRO_CODIGO] [char](10) NOT NULL,
	[PRO_NOMBRE] [char](40) NOT NULL,
	[PRO_PRECIO] [decimal](18, 2) NOT NULL,
	[MAR_CODIGO] [char](3) NOT NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[PRO_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOIDENTIFICACION]    Script Date: 02/10/2019 16:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOIDENTIFICACION](
	[TIP_CODIGO] [char](3) NOT NULL,
	[TIP_NOMBRE] [char](20) NOT NULL,
 CONSTRAINT [PK_TIPOID] PRIMARY KEY CLUSTERED 
(
	[TIP_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENDEDOR]    Script Date: 02/10/2019 16:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDEDOR](
	[VEN_CODIGO] [char](10) NOT NULL,
	[VEN_IDENTIFICACION] [char](20) NOT NULL,
	[VEN_NOMBRE] [char](40) NOT NULL,
	[VEN_APELLIDO] [char](30) NOT NULL,
	[VEN_DIRECCION] [varchar](120) NOT NULL,
	[VEN_TELEFONO] [varchar](20) NOT NULL,
	[VEN_CELULAR] [varchar](20) NOT NULL,
	[VEN_EMAIL] [varchar](120) NOT NULL,
	[VEN_SEXO] [char](1) NOT NULL,
	[BAR_CODIGO] [char](12) NOT NULL,
	[TIP_CODIGO] [char](3) NOT NULL,
 CONSTRAINT [PK_VENDEDOR] PRIMARY KEY CLUSTERED 
(
	[VEN_CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BARRIO]  WITH CHECK ADD  CONSTRAINT [FK_CIUDAD] FOREIGN KEY([CIU_CODIGO])
REFERENCES [dbo].[CIUDAD] ([CIU_CODIGO])
GO
ALTER TABLE [dbo].[BARRIO] CHECK CONSTRAINT [FK_CIUDAD]
GO
ALTER TABLE [dbo].[CIUDAD]  WITH CHECK ADD  CONSTRAINT [FK_DEPARTAMENTO] FOREIGN KEY([DEP_CODIGO])
REFERENCES [dbo].[DEPARTAMENTO] ([DEP_CODIGO])
GO
ALTER TABLE [dbo].[CIUDAD] CHECK CONSTRAINT [FK_DEPARTAMENTO]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_BARRIOID] FOREIGN KEY([BAR_CODIGO])
REFERENCES [dbo].[BARRIO] ([BAR_CODIGO])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_BARRIOID]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_TIPO] FOREIGN KEY([TIP_CODIGO])
REFERENCES [dbo].[TIPOIDENTIFICACION] ([TIP_CODIGO])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_TIPO]
GO
ALTER TABLE [dbo].[DEPARTAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_PAIS] FOREIGN KEY([PAI_CODIGO])
REFERENCES [dbo].[PAIS] ([PAI_CODIGO])
GO
ALTER TABLE [dbo].[DEPARTAMENTO] CHECK CONSTRAINT [FK_PAIS]
GO
ALTER TABLE [dbo].[FACTURADETALLE]  WITH CHECK ADD  CONSTRAINT [FK_FACK] FOREIGN KEY([FAC_NUMERO])
REFERENCES [dbo].[FACTURAENCABEZADO] ([FAC_NUMERO])
GO
ALTER TABLE [dbo].[FACTURADETALLE] CHECK CONSTRAINT [FK_FACK]
GO
ALTER TABLE [dbo].[FACTURADETALLE]  WITH CHECK ADD  CONSTRAINT [FK_PROD] FOREIGN KEY([PRO_CODIGO])
REFERENCES [dbo].[PRODUCTO] ([PRO_CODIGO])
GO
ALTER TABLE [dbo].[FACTURADETALLE] CHECK CONSTRAINT [FK_PROD]
GO
ALTER TABLE [dbo].[FACTURAENCABEZADO]  WITH CHECK ADD  CONSTRAINT [FK_CLI] FOREIGN KEY([CLI_CODIGO])
REFERENCES [dbo].[CLIENTE] ([CLI_CODIGO])
GO
ALTER TABLE [dbo].[FACTURAENCABEZADO] CHECK CONSTRAINT [FK_CLI]
GO
ALTER TABLE [dbo].[FACTURAENCABEZADO]  WITH CHECK ADD  CONSTRAINT [FK_COD] FOREIGN KEY([FOR_CODIGO])
REFERENCES [dbo].[FORMADEPAGO] ([FOR_CODIGO])
GO
ALTER TABLE [dbo].[FACTURAENCABEZADO] CHECK CONSTRAINT [FK_COD]
GO
ALTER TABLE [dbo].[FACTURAENCABEZADO]  WITH CHECK ADD  CONSTRAINT [FK_VEN] FOREIGN KEY([VEN_CODIGO])
REFERENCES [dbo].[VENDEDOR] ([VEN_CODIGO])
GO
ALTER TABLE [dbo].[FACTURAENCABEZADO] CHECK CONSTRAINT [FK_VEN]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_MARCA] FOREIGN KEY([MAR_CODIGO])
REFERENCES [dbo].[MARCA] ([MAR_CODIGO])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_MARCA]
GO
ALTER TABLE [dbo].[VENDEDOR]  WITH CHECK ADD  CONSTRAINT [FK_BARRIOVEN] FOREIGN KEY([BAR_CODIGO])
REFERENCES [dbo].[BARRIO] ([BAR_CODIGO])
GO
ALTER TABLE [dbo].[VENDEDOR] CHECK CONSTRAINT [FK_BARRIOVEN]
GO
ALTER TABLE [dbo].[VENDEDOR]  WITH CHECK ADD  CONSTRAINT [FK_TIPOVEN] FOREIGN KEY([TIP_CODIGO])
REFERENCES [dbo].[TIPOIDENTIFICACION] ([TIP_CODIGO])
GO
ALTER TABLE [dbo].[VENDEDOR] CHECK CONSTRAINT [FK_TIPOVEN]
GO
USE [master]
GO
